#Component4{
    display:flex;
    height: 25vw;
    margin-bottom: 2vw;
    margin-left: 0.5vw;
    
}
#Component4 #card {
    margin-top: 2vw;
    display: flex;
    height: 17vw;
    /* border: solid; */

}
#Component4 #card button{
    border: none;
    background-color: white;
    margin-top: 3vw;
    margin-left: 2vw;
    float: right;
    height: 5vw;
    font-size: 3vw;
    width: 2.5vw;
    padding: 0;
    box-shadow: 1px 1px 2px 1px;
    margin-left: 1vw;
}
#Component4 #card .card-item img{
    width:8vw;
    height:6vw;
}
#Component4 #card .card-item{
    margin-left: 1vw;
    font-size: 1vw;
    height: 15vw;
}
#Component4 #card .card-item .green{
    color: green;
    font-size: 1vw;
}
#Component4 .left{
    margin-top: 1vw;
    border: solid 1px grey;
    height: 20vw;
    /* padding: 1vw; */
    /* padding-left: 0.5vw; */
    margin-right: 1vw;
    box-shadow: 1px 1px 3px 1px;
}
#Component4 .top{
    padding-top: 0.5vw;
    display: flex;
    font-size: 1vw;
    margin-bottom: 1vw;
    border-bottom: solid 1px grey;
    height: 4vw;
}
#Component4 .top b{
    margin-right: 1vw;
}
#Component4 .top a{
    margin-left: 55vw;
    height: 3vw;
    font-size: 1.3vw;
    border-radius:0vw    ;
}
#Component4 div #flip{
    margin-top: 1vw;
    height: 20vw;
    cursor: pointer;
    float: right;
}

#Component4 .card-item p{
    font-size: 1vw;
    margin: 0;
    padding: 0;
}

